*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links-centered{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links-centered ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 13px;
}
.nav-links-centered ul li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(3, 158, 60);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links-centered ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(3, 158, 60);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links-centered ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h2{
    font-size: 30px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.deposit-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.deposit-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.deposit-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.deposit-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
.deposit-form select {
    margin-bottom: 10px;
    width: 95%;
}
@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/*
#value {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    color: #036203; /* Green color
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for 3D effect
    transform: rotate(-5deg); /* Slight rotation
    animation: pulsate 2s infinite; /* Pulsating effect
}*/

/*
#value:hover {
    color: #023e18;  /Change color on hover
    transform: scale(1.2); Increase size on hover
}*/

body, html {
    overflow-x: auto; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Hide vertical scrollbar */
}
h1 {
    color: white;
}
.expenses {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    padding: 20px;
    margin-bottom: 0;
    max-width: 600px;
    border-radius: 5px;
    margin: auto;
}

.expenses-list {
    background-color: rgba(76, 175, 80, 0.6); /* Semi-transparent green */
    padding: 10px;
    max-width: 580px; /* Slightly less than the .expenses max-width to fit inside it */
    margin: auto;
    border-radius: 5px; /* Rounded corners */
}

.expenses-list ul li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    color: #3f51b5; /* Blue text */
}

.daily-expenses {
    background-color: rgba(152, 251, 152, 0.6); /* Pale green with 60% opacity */
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
.daily-expenses h2 {
    color: #495057;
    font-size: 24px;
    margin-bottom: 10px;
}

.daily-expenses-list ul {
    list-style-type: none;
    padding: 0;
}

.daily-expenses-list ul li {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#current-day {
    border: none;
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
.add-expense-button{
    display: inline-block;
    background-color: #008000; /* Green background */
    color: #ffffff; /* White text */
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 20%; /* Make the button circular */
    position: absolute; /* Position the button relative to the "daily-expenses" box */
    bottom: 40px; /* Position the button at the bottom of the "daily-expenses" box */
    right: 40px; /* Position the button at the right of the "daily-expenses" box */
    font-size: 60px; /* Make the plus sign larger */
    text-align: center; /* Center the plus sign inside the button */
}
select {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(249, 250, 248);
    font-size: 16px;
    color: #49574f;
    -webkit-appearance: none; /* Remove default appearance for Chrome and Safari */
    -moz-appearance: none; /* Remove default appearance for Firefox */
    appearance: none; /* Remove default appearance for standard browsers */
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Blue glow when the field is focused */
}

.Update-form {
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.Update-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Update-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.Update-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
.Update-form select {
    margin-bottom: 10px;
    width: 95%;
}

.Delete-form {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.Delete-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Delete-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.Delete-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

