<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>MOOLAH</title>
    <link rel = "stylesheet" type="text/css" href = "/css/style.css"/>
    <link rel="preconnet" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel = "stylesheet">
</head>

<body>
<section class="header">
    <nav>
        <a href="/dashboard"><img src="/css/images/logo1.png"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/dashboard">HOME</a></li>
                <li><a href="/contactAuth">CONTACT</a></li>
                <li><a href="/addExpense">ADD EXPENSE</a></li>
                <li><a href="/calculate">CALCULATE</a></li>
                <li><a href="/">LOGOUT</a></li>
            </ul>
        </div>
    </nav>
    <div class="Update-form">
        <h2>Calculate Expenses from Date</h2>
        <form action = "/calculateExpensesAtDate" method="post">
            <input type="date" id="date" name="date" placeholder="Select date" required>
            <button type="submit">Update</button>
        </form>
        <h2></h2>
        <h2>Total at Date</h2>
        <!-- I know this doesnt need to be a list but idk enough about html to change it -->
        <div th:each="total : ${totals}">
            <h2 style="text-align:center;"><span th:text="'$'+${totals}"></span></h2>
        </div>
    </div>

    <script>
        document.getElementById('calculate-expenses').addEventListener('change', function() {
            var value = this.value;
            var dateInput = document.getElementById('date-input');
            var monthSelect = document.getElementById('month-select');
            var yearSelect = document.getElementById('year-select');

            dateInput.style.display = 'none';
            monthSelect.style.display = 'none';
            yearSelect.style.display = 'none';
            dateInput.removeAttribute('required');
            monthSelect.removeAttribute('required');
            yearSelect.removeAttribute('required');

            if (value === 'day') {
                dateInput.style.display = 'block';
                dateInput.setAttribute('required', '');
            } else if (value === 'month') {
                monthSelect.style.display = 'block';
                monthSelect.setAttribute('required', '');
            } else if (value === 'year') {
                yearSelect.style.display = 'block';
                yearSelect.setAttribute('required', '');
            }
        });
    </script>
</section>
</body>
</html>