<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>MOOLAH</title>
    <link rel = "stylesheet" type="text/css" href = "/css/style.css"/>
    <link rel="preconnet" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel = "stylesheet">
</head>

<body>
<section class="header">
    <nav>
        <a href="/dashboard"><img src="/css/images/logo1.png"></a>
        <h1>Welcome Back!</h1>
        <div class="nav-links">
            <ul>
                <li><a href="/dashboard">HOME</a></li>
                <li><a href="/contactAuth">CONTACT</a></li>
                <li><a href="/addExpense">ADD EXPENSE</a></li>
                <li><a href="/calculate">CALCULATE</a></li>
                <li><a href="/">LOGOUT</a></li>
            </ul>
        </div>
    </nav>
    <section class="expenses">
        <h2>Recent Expenses</h2>
        <div class="expenses-list">
            <ul>
                <!-- Each list item represents an expense -->
                <li>Expense 1<img src="/css/images/minus.png"></li>
                <li>Expense 2<img src="/css/images/plus.png"></li>
                <li>Expense 3</li>
                <!-- Add more list items as needed -->
            </ul>
        </div>
    </section>
    <section class="daily-expenses">
        <h2>Expenses for <input type="date" id="current-day"></h2>
        <div class="daily-expenses-list">
            <ul>
                <!-- Each list item represents an expense for the current day -->
                <li>Expense 1</li>
                <li>Expense 2</li>
                <li>Expense 3</li>
                <!-- Add more list items as needed -->
            </ul>
            <a href="/addExpense" class="add-expense-button">+</a>
        </div>
    </section>
</body>
</html>