<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="/signupSubmitForm" method="post">
    <div><input name="firstName" placeholder="First Name"></div>
    <div><input name="lastName" placeholder="Last Name"></div>
    <div><input name="emailAddress" placeholder="Email Address"></div>
    <div><input name="password" placeholder="Password" type="password"></div>
    <div><input type="Submit"></div>
</form>
</body>
</html>